// Descriptive naming

$grey: #cccfd9;
$lightGrey: #edf0f5;
$blue: #1b67da;
$white: #ffffff;
$darkGrey: #505664;
$darkBrown: #000a23;

// Functional naming
$button-primary-background: $blue;
$button-primary-text: $white;
$button-normal-background: $grey;
$button-selected-text: $blue;
$button-selected-background: $white;
$primary-background: $lightGrey;
$primary-text: $darkGrey;
$secondary-text: $darkBrown;
$tab-background: $white;
